header {
	padding: 16px 0;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.logoHeader {
	margin-right: 40px;
}

.headerButton {
	@media (max-width: 500px) {
		position: absolute;
		bottom: 24px;
		right: 24px;
		.botao {
			padding: 16px;
			border-radius: 24px;
			img {
				margin: 0 !important;
			}
			span {
				display: none;
			}
		}
	}
}
